.mode-switcher {
  display: inline-flex;
  background-color: #f0f0f0;
  border-radius: 999px;
  height: 34px;
  align-items: center;
}

.mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border: none;
  border-radius: 999px;
  font-family: 'e-Ukraine', sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mode-button .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.mode-button.active {
  background-color: #000;
  color: #FFF;
  font-weight: 500;
}

.mode-button:not(.active) {
  background-color: transparent;
  color: #000;
  font-weight: 400;
}

.mode-button.active .icon {
  filter: invert(1);
}