.infopanel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.infopanel-content {
  flex-grow: 1;
}

.infopanel-footer {
  padding-top: 24px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.api-button {
  text-decoration: none;
  color: #555;
  border: 1px solid #ddd;
  padding: 4px 10px;
  border-radius: 6px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.api-button:hover {
  background-color: #f5f5f5;
}

.api-button::after {
  content: '↗';
  font-size: 16px;
}

.infopanel-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.main-image {
  max-height: 200px;
  width: auto;
  border-radius: 0px;
}

.ornament-image {
  width: auto;
  max-height: 70px;
}

.artifact-title {
  color: #000;
  font-family: "e-Ukraine Head";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.data-section {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.data-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.data-label {
  font-size: 13px;
  color: #888888;
}

.data-value {
  font-size: 15px;
  color: #111111;
  line-height: 1.5;
}

.data-link {
  font-size: 15px;
  color: #C73F3F;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border-bottom: 1.5px solid #C73F3F;
  padding-bottom: 2px;
}

.data-link::after {
  content: '↗';
  font-size: 17px;
}

.action-button-3d {
  width: 100%;
  padding: 12px;
  margin-top: 40px;
  background-color: #181818;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'e-Ukraine Head', sans-serif;
  cursor: pointer;
}